@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
body{background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
background-repeat: no-repeat;
background-size: 100vw 100vh;
font-family:'Poor Story', cursive ;
font-size: 2rem;
color: purple;
}