@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
.container {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  button{
    width: 20vw;
    height: 5vh;
  }
  
  .grid {
    width: 400px;
    height: 800px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    background-color:plum;
  }
  
  .grid div {
    height: 40px;
    width: 40px;
  }
  
  .tetromino {
    background-color: blue;
  }
  
  
  .mini-grid {
    margin-left: 50px;
    width: 160px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    background-color: cornflowerblue;
  }
  
  .mini-grid div {
    height: 40px;
    width: 40px;
  }
  #start{
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    
}
#align{
  margin-left: 10%;
  margin-top: 1%;
}

body{background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
background-repeat: no-repeat;
background-size: 100vw 100vh;
font-family:'Poor Story', cursive ;
font-size: 1rem;
color: purple;
}
#buttons{
  display: flex;
  flex-direction: column;

}
#horizontal{
  display: flex;
  flex-direction: row;
}
#vertical{
  display: flex;
  flex-direction: row;
}
#leftButton{
  margin: -180px 0px 0px 20px;
}
#rightButton{
  margin: -180px 0px 0px 420px;
}