@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

*{
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family:'Poor Story', cursive ;
    font-size: larger;
    color: purple;
}
.center{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.buttons{
    margin: 2%;
    border: 5px solid lavender;
    
}
.first{
    display: flex;
    flex-direction: column;
}
input{
display: flex;
justify-content: center;
width: auto;
height: 10vh;
font-size:50px;
border: 10px solid lavender;
margin-left: 40px;
margin-right: 40px;


}
#align{
    display: flex;
    justify-content: center;
}
/* }
.buttons{
    border: 8px solid;
    border-image: repeating-linear-gradient(135deg,#F8CA00 0 10px,#E97F02 0 20px,#BD1550 0 30px) 8;
    -webkit-mask: 
      conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
       var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
      conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
       0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
      linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;
  }
  .buttons:hover {
    --_i: 100%;
    color: #CC333F;
    transition: .3s, -webkit-mask-size .3s .3s;
  } */
.buttons{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.buttons:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3; 

}